<div class="container my-5">
    <div class="card p-3 shadow">
        <div class="row g-3">
            <div class="col-md-6">
                <agm-map [latitude]="property?.latitud!" [longitude]="property?.longitud!" [zoom]="18" [mapTypeId]="'terrain'">
                    <agm-marker [latitude]="property?.latitud!" [longitude]="property?.longitud!"></agm-marker>
                </agm-map>
            </div>  
            <div class="col-md-6">
                <figure>
                    <img [src]="property?.foto" class="card-img-top img-fluid" [alt]="property?.titulo">
                </figure>
                <div class="card-body">
                    <h5 class="card-title fs-2">{{property?.titulo}}</h5>
                    <ul class="list-unstyled">
                        <li><strong>Direccion:</strong> {{property?.direccion}}</li>
                        <li><strong>Ciudad:</strong> {{property?.ciudad}}</li>
                        <li><strong>Lat/Long:</strong> {{property?.latitud}} - {{property?.longitud}}</li>
                        <li><strong>Nro Habitaciones:</strong> {{property?.numeroHabitaciones}}</li>
                        <li><strong>Propietarie:</strong> {{property?.propietario}}</li>
                    </ul>
                    <p class="card-text"><small class="text-muted">{{property?.disponibilidad ? 'Disponible' : 'No Disponible' }}</small></p>
                    <a href="#" class="btn btn-outline-secondary" [routerLink]="['/home']">Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>